NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvam5ia2RkcHhtZ3RoeHd1d21iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzOTAxNTAsImV4cCI6MjA5NDk2NjE1MH0.MP0S7HyQ3PE4AHicUPTNFJnb0cgWHBCHTdbOUHz0TQ4
NEXT_PUBLIC_SUPABASE_URL=https://sojnbkddpxmgthxwuwmb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_U5XHIYDd6UjyaSuMI7X-WA_XS6iJP2b
